{% extends "base.html" %}

{% block title %}Add Medication{% endblock %}

{% block content %}

<h3>Add Medication</h3>

<form method="post">

    <div class="mb-3">
        <label class="form-label">
            Medication
        </label>

        <select class="form-control" name="medication">

            <option value="Metformin">
                Metformin
            </option>

            <option value="Roswera">
                Roswera
            </option>

            <option value="Viacoram">
                Viacoram
            </option>
        </select>
    </div>


    <div class="mb-3">
        <label class="form-label">
            Dose
        </label>

        <select class="form-control" name="dose">
            <option value="3.5 mg">
                3.5 mg
            </option>

            <option value="7 mg">
                7 mg
            </option>

            <option value="10 mg">
                10 mg
            </option>

            <option value="20 mg">
                20 mg
            </option>

            <option value="30 mg">
                30 mg
            </option>

            <option value="40 mg">
                40 mg
            </option>

            <option value="500 mg">
                500 mg
            </option>

            <option value="1000 mg">
                1000 mg
            </option>

        </select>
    </div>


    <div class="d-flex gap-2">
        <a href="/sugar/add" class="btn btn-secondary">
            Back
        </a>

        <button class="btn btn-success" type="submit">
            Save  Medication
        </button>
    </div>

</form>


{% endblock %}