<!DOCTYPE html>
<html>
<head>
    <title>Add Blood Pressure</title>
</head>
<body>

<h1>Add Blood Pressure Reading</h1>

<form method="post">

    <p>
        <input
            type="number"
            name="systolic"
            placeholder="Systolic"
            required>
    </p>

    <p>
        <input
            type="number"
            name="diastolic"
            placeholder="Diastolic"
            required>
    </p>

    <p>
        <input
            type="number"
            name="pulse"
            placeholder="Pulse">
    </p>

    <button type="submit">
        Save
    </button>

</form>

<p>
    <a href="/">Home</a>
</p>

</body>
</html>