{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block content %}

<table class="table table-striped">

    <thead>
        <tr>
            <th>Date</th>
            <th>BP</th>
            <th>Pulse</th>
        </tr>
    </thead>

    <tbody>

    {% for row in readings %}

        <tr>
            <td>{{ row[1][:16] }}</td>
            <td>{{ row[2] }}/{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>

    {% endfor %}

    </tbody>

</table>

<a
    href="/bp/add"
    class="btn btn-primary">
    Add Reading
</a>

{% endblock %}